In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import OneHotEncoder

In [36]:
df = pd.read_csv(r"data.csv")

In [37]:
df.head()

,id,product_name,review_text,label
0,1,EverGlow LED Desk Lamp,I bought this lamp two months ago and it has b...,positive
1,2,QuickChug 32 oz Stainless Bottle,This bottle looks sleek and keeps coffee hot f...,negative
2,3,SnugFit Cotton Tee,"The fabric is soft and breathable, perfect for...",positive
3,4,FlexiStep Yoga Mat,I practice yoga five times a week and this mat...,positive
4,5,SmartSlice Bread Knife,The blade arrived dull and could barely cut th...,negative

In [38]:
enc = OneHotEncoder(sparse_output=False)

In [ ]:
encoder = enc.fit_transform(df[['label']])  # making np_array

In [49]:
encoder

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [50]:
encoder.shape

(100, 3)

In [ ]:
onehot = enc.fit_transform(df[['label']])
# converting to dataframe
encoded_df = pd.DataFrame(onehot,columns=enc.get_feature_names_out(['label']))

In [41]:
encoded_df

    label_negative  label_neutral  label_positive
0              0.0            0.0             1.0
1              1.0            0.0             0.0
2              0.0            0.0             1.0
3              0.0            0.0             1.0
4              1.0            0.0             0.0
..             ...            ...             ...
95             0.0            0.0             1.0
96             0.0            0.0             1.0
97             0.0            0.0             1.0
98             0.0            1.0             0.0
99             0.0            0.0             1.0

[100 rows x 3 columns]

In [47]:
encoded_df.shape

(100, 3)