In [22]:
import pandas as pd 
import numpy as np

In [23]:
import nltk

In [24]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\subha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [25]:
import nltk
from nltk.tokenize import word_tokenize

In [26]:
df1 = pd.read_csv(r"data.csv")

In [27]:
df1.head(5)

,id,product_name,review_text,label
0,1,EverGlow LED Desk Lamp,I bought this lamp two months ago and it has b...,positive
1,2,QuickChug 32 oz Stainless Bottle,This bottle looks sleek and keeps coffee hot f...,negative
2,3,SnugFit Cotton Tee,"The fabric is soft and breathable, perfect for...",positive
3,4,FlexiStep Yoga Mat,I practice yoga five times a week and this mat...,positive
4,5,SmartSlice Bread Knife,The blade arrived dull and could barely cut th...,negative

In [28]:
df1['product_name'].apply(lambda x : word_tokenize(x))

0                [EverGlow, LED, Desk, Lamp]
1     [QuickChug, 32, oz, Stainless, Bottle]
2                     [SnugFit, Cotton, Tee]
3                     [FlexiStep, Yoga, Mat]
4                 [SmartSlice, Bread, Knife]
                       ...
95                     [QuickFix, Tool, Kit]
96                    [CloudRest, Eye, Mask]
97                 [FlexiDesk, Phone, Stand]
98               [PeakCharge, Wireless, Pad]
99               [SwiftSlice, Pizza, Cutter]
Name: product_name, Length: 100, dtype: object

In [29]:
df1['review_text'].apply(lambda x : word_tokenize(x))

0     [I, bought, this, lamp, two, months, ago, and,...
1     [This, bottle, looks, sleek, and, keeps, coffe...
2     [The, fabric, is, soft, and, breathable, ,, pe...
3     [I, practice, yoga, five, times, a, week, and,...
4     [The, blade, arrived, dull, and, could, barely...
                            ...
95    [It, has, every, bit, I, â€™, ve, needed, and, t...
96    [Memory, foam, blocks, light, completely, and,...
97    [It, holds, my, phone, horizontally, for, vide...
98    [It, charges, my, phone, overnight, without, o...
99    [The, sharp, wheel, slices, through, thick, cr...
Name: review_text, Length: 100, dtype: object

In [30]:
df2 = pd.read_csv(r"Sentiment_dataset.csv")

In [31]:
df2.head()

                                       text sentiment
0        Perfect addition to my collection!  positive
1            Most reliable brand out there!  positive
2             New wellness program options.   neutral
3                   Saved me so much money!  positive
4  Remember to bring your ID to the office.   neutral

In [32]:
df2['text'].apply(lambda x : word_tokenize(x))

0             [Perfect, addition, to, my, collection, !]
1                 [Most, reliable, brand, out, there, !]
2                   [New, wellness, program, options, .]
3                        [Saved, me, so, much, money, !]
4      [Remember, to, bring, your, ID, to, the, offic...
                             ...
859           [Music, was, too, loud, at, the, venue, .]
860             [Most, user-friendly, app, available, !]
861           [All, employees, must, attend, session, .]
862              [Exactly, matches, my, expectations, !]
863         [Great, taste, and, healthy, ingredients, !]
Name: text, Length: 864, dtype: object